@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




@font-face {
  font-family: 'Bohme';
  src: url('../fonts/bohme/Bohme.ttf');
}

:root {
  --titel-font: 'Bohme';
  --weeks-font: "Major Mono Display", monospace;
  --brood-tekst: "Montserrat", sans-serif;
}

html,
body {
  margin: 0;
}

body {
  background-color: rgb(255, 252, 232);
}



h2 {
  font-family: var(--titel-font);
  margin: .3rem 0;
  font-size: 1.2rem;
  color: #b88d00;
}

h3 {
  margin: 0;
  font-family: var(--brood-tekst);
  font-size: 1rem;
}

header {
  position: fixed;
  width: 100vw;

  & #mobile-navigation {
    display: none;
  }

  & nav:first-of-type {
    animation: fadeIn 1s .5s backwards;
    opacity: 1;
    display: flex;
    align-items: center;
    padding: 1rem;

    a {
      text-decoration: none;
      color: black;


      & h1 {
        position: relative;
        font-family: 'Bohme';
        font-size: 1.5rem;
        animation: fadeIn .5s 3.5s backwards;
        opacity: 1;
        user-select: none;
        transition: .5s;
        margin-right: 3rem;
        cursor: pointer;
        color: #b88d00;

        &::before {
          content: "ALI AHMED";
          position: absolute;
          font-size: .8rem;
          top: -1rem;
          animation: fadeIn .5s 4s backwards;
          opacity: 1;

        }

        &::after {
          content: "BLOG";
          position: absolute;
          font-size: .8rem;
          bottom: -1rem;
          right: 0rem;
          animation: fadeIn .5s 4.5s backwards;
          opacity: 1;
        }
      }
    }

    & ul {
      display: flex;
      gap: 3rem;
      justify-content: center;
      margin: 0;
      padding: 1rem;

      & li {
        list-style-type: none;

        & a {
          text-decoration: none;
          font-family: var(--titel-font);
          color: black;
          transform-origin: center;
          transition: .5s;
          font-size: .7rem;


          &:hover,
          &:focus-visible,
          &:focus {
            font-size: 1rem;
          }
        }
      }

    }
  }
}

main {
  & .speakers-container {
    display: flex;
    gap: 4rem;
    overflow: auto;
    width: 500vw;
    padding-top: 7.3rem;
    height: 84vh;
    overflow-x: auto;

    .speakers-about {
    & .social-media {
      padding: 0;
      li { 
        list-style-type: none;
        padding: 0;

        a {
          font-size: 3rem;
          text-decoration: none;
          color: #b88d00;

        }
      }
    }
  }

    & .speaker-img-ali {
      background-image: url('../images/ali.png');
      height: 659px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 600px;
      border-radius: 0 5% 5% 0;

      & h1 {
        color: white;
        background-color: #b88d00;
        padding: 1rem;
        width: 40%;
        font-family: var(--titel-font);
        border-radius: 0 5% 5% 0;
      }
    }


    & .speakers-about,
    .speaker-insights,
    .speakers-reflection {
      display: flex;
      flex-direction: column;
      width: 5%;
      font-family: var(--brood-tekst);

      & ul {
        padding: 0 0 0 1rem;

        & li {
          color: black;
        }
      }

      & p {
        font-family: var(--brood-tekst);
        font-size: 1rem;

      }

      & .blank {
        color: transparent;
        user-select: none;
      }

      & .code {
        border-radius: 3%;
        margin-bottom: 1.5rem;
      }
    }

    & .speakers-about {
      img {
        margin-top: 1rem;
      }
    }

    & .speakers-reflection {
      background-color: #b88d00;
      color: white;
      padding: 2rem;
      height: fit-content;
      border-radius: 5%;

      & h2 {
        color: white;
      }
    }
  }
}

@media (max-width: 926px) {
  header {
    background-color: #b88d00;

    & nav:first-of-type {
      display: none;

      a {
        h1 {
          font-size: 1rem;
          color: white;

          &::before {
            font-size: .6rem;
            top: -.7rem;
          }
        }
      }

      ul {
        display: none;
      }
    }

    & #mobile-navigation {
      background-color: #b88d00;
      display: flex;
      width: 100%;
      margin-left: auto;
      justify-content: space-between;
      position: fixed;
      transition: .5s;
      align-items: center;
      z-index: 99;

      & a {
        text-decoration: none;

        & h1 {
          font-size: 1rem;
          color: white;
          font-family: var(--titel-font);
          margin: 0 1rem;
        }

        h1:before {
          content: "ALI AHMED";
          position: absolute;
          font-size: 0.65rem;
          top: 12px;
          left: 15px;
          animation: fadeIn .5s 4s backwards;
          opacity: 1;
        }

        h1::after {
          content: "BLOG";
          position: absolute;
          font-size: .6rem;
          bottom: 1rem;
          left: 143px;
          right: 0rem;
          animation: fadeIn .5s 4.5s backwards;
          opacity: 1;
        }
      }



      & .hamburger {
        background-color: transparent;
        border: none;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        position: relative;

        & .bar {
          display: block;
          background-color: white;
          width: 2rem;
          left: 0;
          height: .2rem;
          border-radius: 5rem;
        }
      }

      & #mobile-menu {
        position: fixed;
        background: black;
        width: -webkit-fill-available;
        height: 100lvh;
        margin: 0;
        padding: 0;
        display: block;
        transform: translate(0px, -1012px);
        transition: .2s;



        & button {
          color: white;
          position: fixed;
          top: 0;
          padding: 2rem;
          font-size: 2rem;
          right: 0;
          background-color: none;
          border: none;
          background-color: transparent;
        }

        & ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 7rem 0;


          & hr {
            background-color: white;
            height: 50px;
            rotate: 90deg;
            margin: 0;


          }

          & li {
            list-style-type: none;

            & a {
              text-decoration: none;
              color: white;
              font-size: 1.2rem;
              font-family: var(--titel-font);
            }
          }
        }
      }

      & #mobile-menu.show {
        position: fixed;
        top: 0;
        display: block;
        transform: translate(0px, 0px);
        transition: .2s;

      }
    }

    #mobile-navigation.scroll {
      & .hamburger {
        & .bar {
          background-color: white;
        }
      }
    }

  }

  main {
    & .speakers-container {
      display: flex;
      height: fit-content;

      flex-direction: column;
      width: 100%;
      gap: 0;
      box-sizing: border-box;
      /* Zorg ervoor dat padding de breedte niet overschrijdt */
      padding: 5rem 2rem;
      /* Voeg wat padding toe voor leesbaarheid */

      & .speaker-img-ali {
        height: 400px;
        width: 364px;
        margin-bottom: 1rem;

        & h1 {
          font-size: .8rem;
        }
      }

      & .speakers-about,
      .speaker-insights,
      .speakers-reflection {
        display: block;
        width: 100%;
      }

      & .speakers-about {

        .code {
          margin-top: 1rem;
        }
      }

      & .speakers-reflection {
        width: 83%;
        margin: 2rem 0 0 0;
      }
    }
  }

  img {
    width: 100%;
    /* Maak de afbeelding 100% breedte van de container */
    height: auto;
    /* Zorg ervoor dat de afbeelding proportioneel schaalt */
  }
}
