@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
  font-family: 'Bohme';
  src: url('../fonts/bohme/Bohme.ttf');
}

:root {
  --titel-font: 'Bohme';
  --weeks-font: "Major Mono Display", monospace;
  --brood-tekst: "Montserrat", sans-serif;
  --speaker-red: #680000;
  --final-assign: #134625;
  --about-me: #b88d00;
}


*,
body {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  background-color: whitesmoke;
}

body.kic {

  & h2 {
    color: var(--final-assign);
  }

  header {
    nav {
      & .nav-title {
        color: var(--final-assign);
      }
    }
  }

  & .speaker.reflection {
    background-color: var(--final-assign);
  }

  #mobile-navigation {
    background-color: var(--final-assign);
  }

}

body.about {

  & h1 {
    color: var(--about-me);
  }

  & .speaker.img {

    & h1 {
      background-color: var(--about-me);
    }
  }

  & h2 {
    color: var(--about-me);
  }

  header {
    nav {
      .nav-title {
        color: var(--about-me);
      }
    }
  }

  & .speaker.reflection {
    background-color: var(--about-me);
  }

  #mobile-navigation {
    background-color: var(--about-me);
  }

  main {
    ul {
      display: flex;
      gap: 1rem;
      padding: 0;

      li {
        list-style-type: none;
        a {
          aspect-ratio: 1/1;
          width: 2rem;
          color: var(--about-me);
          font-size: 2rem;
        }
      }
    }
  }

  .blank {
    color: transparent;
  }

}

.gd {
  mix-blend-mode: multiply;
}

.critical {
  width: 80%;
}

.gif {
  width: 30%;
  margin: 0 auto;
}

img {
  border-radius: 1rem;
  margin: .5rem 0;
}

ul {
  padding: 0 1rem;

  li {
    color: var(--speaker-red);
    font-family: var(--brood-tekst);

    & span {
      color: black;
    }
  }
}

h2 {
  font-family: var(--titel-font);
  font-size: 1.2rem;
  color: var(--speaker-red);
}

p {
  font-family: var(--brood-tekst);
}

h3 {
  margin: 0;
  font-family: var(--brood-tekst);
  font-size: 1rem;
}

header {
  position: fixed;
  width: 100vw;
  z-index: 2;

  & #mobile-navigation {
    display: none;
  }


  & nav:first-of-type {
    animation: fadeIn 1s .5s backwards;
    opacity: 1;
    display: flex;
    align-items: center;
    padding: 1rem;

    a {
      text-decoration: none;
      color: black;

      & .nav-title.kic {
        color: var(--final-assign);
      }

      & h1 {
        position: relative;
        font-family: 'Bohme';
        font-size: 1.5rem;
        animation: fadeIn .5s 3.5s backwards;
        opacity: 1;
        user-select: none;
        transition: .5s;
        margin-right: 3rem;
        cursor: pointer;
        color: var(--speaker-red);

        &::before {
          content: "ALI AHMED";
          position: absolute;
          font-size: .8rem;
          top: -1rem;
          animation: fadeIn .5s 4s backwards;
          opacity: 1;

        }

        &::after {
          content: "BLOG";
          position: absolute;
          font-size: .8rem;
          bottom: -1rem;
          right: 0rem;
          animation: fadeIn .5s 4.5s backwards;
          opacity: 1;
        }
      }
    }

    & ul {
      display: flex;
      gap: 3rem;
      justify-content: center;
      margin: 0;
      padding: 1rem;

      & li {
        list-style-type: none;

        & a {
          text-decoration: none;
          font-family: var(--titel-font);
          color: black;
          transform-origin: center;
          transition: .5s;
          font-size: .7rem;


          &:hover,
          &:focus-visible,
          &:focus {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

main {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;

  & .rosa {
    margin-top: 10rem;
  }

  & section {
    padding: 1rem;
    position: relative;
    display: flex;
    height: fit-content;
    gap: 3rem;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-top: 3rem;

    & .speaker.img.kic {
      & h1 {
        background-color: var(--final-assign);
      }

      & img {
        background-color: lightgreen;
      }
    }

    & .speaker.img {
      position: relative;
      min-width: 500px;

      & img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: right;
      }


      .fenna {
        object-position: center;
      }

      & h1 {
        position: absolute;
        top: 0;
        padding: 1rem 2rem;
        color: whitesmoke;
        background-color: var(--speaker-red);
        font-family: var(--titel-font);
      }
    }

    .speaker {
      min-width: 400px;
      width: 30%;

      & .code.mp {
        width: 100%;
        height: fit-content;
      }

      & .code {
        width: 100%;
        height: 45%;
        object-fit: cover;
      }

      & .code.snippet {
        height: 90%;
      }
    }

    .speaker.rosa-1 {

      & img {
        width: 100%;
        height: 30%;
        object-fit: cover;
      }
    }

    .speaker.jeffery {
      display: flex;
      flex-direction: column;

      & img {
        margin: auto 0;
      }
    }

    .speaker.rosa {

      & img {
        width: 100%;
        height: 30%;
        object-fit: cover;
      }
    }


    & img {
      width: 100%;
      margin: auto 0;
    }
  }
}

.button-container.mobile {
  display: none;
}

.button-container {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  gap: 1rem;

  & a {
    font-family: var(--brood-tekst);
    align-items: center;
    flex-direction: flex;
    text-decoration: none;
    display: flex;
    color: black;
    gap: .3rem;
    transition: .2s;

    &:hover {
      font-weight: 500;
    }

    & i {
      color: var(--speaker-red);
    }
  }

  & .invisible {
    color: gray;
    user-select: none;
    pointer-events: none;

    & i {
      color: gray;
    }
  }
}

.speaker.reflection {
  padding: 1rem;
  background-color: var(--speaker-red);
  border-radius: .5rem;
  color: white;
  height: fit-content;

  & h2 {
    color: white;
    font-family: var(--brood-tekst);
    text-transform: uppercase;
  }
}

.blank {
  color: transparent;
  user-select: none;
  pointer-events: none;
}

section::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    background-color: var(--speaker-red);

    & nav:first-of-type {
      display: none;

      a {
        h1 {
          font-size: 1rem;
          color: white;

          &::before {
            font-size: .6rem;
            top: -.7rem;
          }
        }
      }

      ul {
        display: none;
      }
    }

    & #mobile-navigation {
      background-color: var(--speaker-red);
      display: flex;
      width: 100%;
      margin-left: auto;
      justify-content: space-between;
      position: fixed;
      transition: .5s;
      align-items: center;
      z-index: 99;

      & a {
        text-decoration: none;

        & h1 {
          font-size: 1rem;
          color: white;
          font-family: var(--titel-font);
          margin: 0 1rem;
        }

        h1:before {
          content: "ALI AHMED";
          position: absolute;
          font-size: 0.65rem;
          top: 12px;
          left: 15px;
          animation: fadeIn .5s 4s backwards;
          opacity: 1;
        }

        h1::after {
          content: "BLOG";
          position: absolute;
          font-size: .6rem;
          bottom: 1rem;
          left: 143px;
          right: 0rem;
          animation: fadeIn .5s 4.5s backwards;
          opacity: 1;
        }
      }



      & .hamburger {
        background-color: transparent;
        border: none;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        position: relative;

        & .bar {
          display: block;
          background-color: white;
          width: 2rem;
          left: 0;
          height: .2rem;
          border-radius: 5rem;
        }
      }

      & #mobile-menu {
        position: fixed;
        background: black;
        width: -webkit-fill-available;
        height: 100lvh;
        margin: 0;
        padding: 0;
        display: block;
        transform: translate(0px, -1012px);
        transition: .2s;



        & button {
          color: white;
          position: fixed;
          top: 0;
          padding: 2rem;
          font-size: 2rem;
          right: 0;
          background-color: none;
          border: none;
          background-color: transparent;
        }

        & ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 7rem 0;


          & hr {
            background-color: white;
            height: 50px;
            rotate: 90deg;
            margin: 0;


          }

          & li {
            list-style-type: none;

            & a {
              text-decoration: none;
              color: white;
              font-size: 1.2rem;
              font-family: var(--titel-font);
            }
          }
        }
      }

      & #mobile-menu.show {
        position: fixed;
        top: 0;
        display: block;
        transform: translate(0px, 0px);
        transition: .2s;

      }
    }

    #mobile-navigation.scroll {
      & .hamburger {
        & .bar {
          background-color: white;
        }
      }
    }

  }

  main {
    padding: 2rem 1rem 1rem 1rem;
    position: relative;
    height: fit-content;

    section {
      position: relative;
      z-index: 1;
      display: block;
      width: 100vw;

      & .speaker.img {
        min-width: fit-content;
      }

      & .speaker {
        min-width: fit-content;
      }

      .button-container.mobile {
        display: flex;
        justify-content: center;
        margin: 2rem 0;
        position: static;

        & a {
          font-size: 1.2rem;
        }
      }
    }

    .button-container {
      display: none;
    }
  }
}