@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(248, 250, 255);
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;

}

:root {
    --background-color:
}

header nav {
    display: none;
}



aside {
    background-color: white;
    max-width: 320px;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.316) 0 0 20px;
    animation: slideIn 1s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    display: inline-block;
    transform: translateX(-400px);

}

aside nav {
    padding: 2em;
}

aside h1 {
    position: relative;
    font-family: "Fredoka", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.5s;
    max-width: fit-content;
    font-weight: 600;
    animation: fadeIn 0.5s ease;
    animation-delay: 3s;
    opacity: 0;
    animation-fill-mode: forwards;
    font-size: 2rem;
    color: rgb(45, 45, 45);
}

aside img {
    width: 5rem;
    justify-content: center;
    margin-bottom: 1rem;
    animation: fadeIn 0.5s ease;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

main h1 {
    position: relative;
    font-family: "Fredoka", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

main {
    background-color: rgb(229, 229, 229);
    width: 100%;
    padding: 2.1rem;
    display: inline-block;
    height: 100vh;
    overflow: auto;
    opacity: 0;
    animation: fadeIn 1s ease-in-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;

}

.slideUp {
    animation: SlideUp 1s ease-in-out;
    animation-fill-mode: forwards;
}


main section {
    height: 100vh;
    margin: 0 3rem;
    transition: 0.5s;
    background-color: white;
    padding: 3em;
    border-radius: 20px;
    height: auto;
    transform: translateY(300px);
    overflow: hidden;
    opacity: 0;
    animation: SlideUp 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    display: none;
}

main section:nth-of-type(2){
    display: none;
}

main p {
    width: 100%;
    margin: 0 0 1em 0;
    height: fit-content;

}

aside h2 {
    font-family: "Fredoka", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
    animation: fadeIn 0.5s ease;
    animation-delay: 3.5s;
    opacity: 0;
    animation-fill-mode: forwards;
    line-height: 1rem;
}

main h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

main h2 {
    font-family: "Fredoka", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: .5rem;
}

pre {
    background-color: rgb(29, 29, 29);
    width: fit-content;
    color: white;
    padding: 0em;
    border-radius: 10px;
}

#spreker {
  width: 14rem;
}

#brand {
  width: 26rem;
}

main section:first-of-type img {
    border-radius: 10px;
    margin: 1rem 0;
    width: 100%;
}

aside p {
    font-family: "Fredoka", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 1.4rem;
    animation: fadeIn 0.5s ease;
    animation-delay: 3.5s;
    opacity: 0;
    animation-fill-mode: forwards;
    margin: 1em 0em 7em 0em;
    height: 155px;
    width: 272px;
    position: relative;
}

.active {
    display: block;
    opacity: 1;
}

main p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    line-height: 2.3rem;
}

main img:first-of-type {
    margin-bottom: 0.5rem;
    width: 30%;
}

main img:nth-of-type(2){
    margin-bottom: 0.5rem;
    width: 100%;
}

main img:nth-of-type(3){
    margin-bottom: 0.5rem;
    width: 50%;
}

main img:nth-of-type(4){
    margin-bottom: 0.5rem;
    width: 50%;
}

h3:first-of-type {
    font-family: "Fredoka", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}

h3 {
    font-family: "Fredoka", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    margin-top: 1em;
}


aside button{
    font-family: "Fredoka", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 1.3rem;
    transition: 0.5s;
    display: inline-block;
    border: none;
    background-color: transparent;
}

aside button:hover {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.5s;
}

aside button:focus-visible {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.5s;
    background-color: rgba(183, 255, 231, 0.797);
    padding: 0.5rem;
    border-radius: 10px;
}

.focus {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.5s;
    background-color: rgba(183, 255, 231, 0.797);
    padding: 0.5rem;
    border-radius: 10px;
}

hr {
    margin: 0.5rem 0;
    width: 30%;
}

@media screen and (max-width: 1000px) {
    
    body {
        display: flex;
        flex-direction: column;
        overflow-x: hidden; /* Add this line */
        overflow-y: hidden; /* Add this line */
    }

    aside {
        display: none;
    }

    main section {
        margin: 0;
        padding: 1em;
    }

    main section h1 {
        font-size: 1rem;
    }

    main section h2 {
        font-size: 1.5em;
    }

    main section p {
        font-size: 0.7rem;
    }

    main section img:first-of-type {
        width: 50%;
    }
    header nav {
        display: flex;
        width: 100%;
        height: fit-content;
        padding: 1em 2em;
        background-color: white;
        justify-content: space-between;
        align-items: center;
        font-family: "Fredoka", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    header nav h1 {
        font-weight: 500;
    }

    header nav img {
        width: 10%;
    }

    header nav p:first-of-type {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }

    header nav span {
        width: 30px;
        height: 2px;
        border-radius: 20px;
        background-color: black;
    }

    #burgerMenu { 
        transform: translateX(500px);
        position: absolute;
        top: 4rem;
        z-index: 1;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 100vh;
        padding: 0 2rem;
        transition: 0.5s ease-in-out;
    }

    #burgerMenu.burgerActive {
        transform: translateX(0);
        transition: 0.5s ease-in-out;
        z-index: 1;

    }

    #burgerMenu hr {
        width: 100%;
    }
    #burgerMenu button {
        font-family: "Fredoka", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-decoration: none;
        color: black;
        font-weight: 300;
        font-size: 1.5rem;
        transition: 0.5s;
        display: inline-block;
        border: none;
        background-color: transparent;
    }
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} 

@keyframes slideIn {
    from {
        transform: translateX(-400px);
    }
    to {
        transform: translateX(0px);
    }
} 

@keyframes SlideUp {
    0% {
        transform: translateY(300px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}